body{
    background-color: rgb(0, 0, 0) !important; 
}


.mi_carrusel{
    margin-top: -80px;
}

.divtitulo{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}



.font_awesome{
    text-align: center;
  color: aliceblue;
background-color: rgb(48, 211, 233);

}

.div_carta{
    padding: 1%;
   
}

.pdescripcion{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.753);
}

.titulos{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.753);  
    
}
.card-body{
    background-color:rgb(48, 211, 233) ;
}

.cardtitulo{
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.753) !important;   
}
hr{
    background-color:rgb(48, 211, 233) ;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
   
}
.quienes{
  margin-left: 5%;
  margin-right:5%;
}