body{
    background-color: rgb(0, 0, 0) !important; 
}


.mi_carrusel{
    margin-top: -80px;
}

.divtitulo{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

.hr{
    color: blue;
    margin-top: 3%;
}
.font_awesome{
    text-align: center;
  color: aliceblue;
background-color: rgb(48, 211, 233);

}

.div_carta{
    padding: 1%;
   
}
